<template>
<div>
<!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="container-fluid">
        <!-- Ejemplo de tabla Listado -->
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Categorías
                <button type="button" @click="abrirModal('categoria', 'registrar')" class="btn btn-secondary">
                    <i class="icon-plus"></i>&nbsp;Nuevo
                </button>
            </div>
            <div class="card-body">
                <div class="form-group row">
                </div>
                <table class="table table-bordered table-striped table-sm" id="categorias-table">
                    <thead>
                        <tr>
                            <th>Opciones</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="categoria in arrayCategoria" :key="categoria.id">
                            <td>
                                <button type="button" @click="abrirModal('categoria', 'actualizar', categoria)" class="btn btn-warning btn-sm">
                                    <i class="icon-pencil"></i>
                                </button> &nbsp;
                                <template v-if="categoria.condicion">
                                    <button type="button" class="btn btn-danger btn-sm" @click="desactivarCategoria(categoria.id)">
                                        <i class="icon-trash"></i>
                                    </button>
                                </template>
                                <template v-else>
                                    <button type="button" class="btn btn-info btn-sm" @click="activarCategoria(categoria.id)">
                                        <i class="icon-check"></i>
                                    </button>
                                </template>
                                
                            </td>
                            <td v-text="categoria.nombre"></td>
                            <td v-text="categoria.descripcion"></td>

                            <td>
                                <div v-if="categoria.condicion">
                                <span class="badge badge-success">Activo</span>
                                </div>

                                <div v-else>
                                <span class="badge badge-danger">Desactivado</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Fin ejemplo de tabla Listado -->
    </div>
    <!--Inicio del modal agregar/actualizar-->
    <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" v-text="tituloModal"></h4>
                    <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                            <div class="col-md-9">
                                <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de categoría">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="email-input">Descripción</label>
                            <div class="col-md-9">
                                <input type="email" v-model="descripcion" class="form-control" placeholder="Ingrese descripcion">
                            </div>
                        </div>
                        <div v-show="errorCategoria" class="form-group row div-error">
                            <div class="text-center text-error">
                                <div v-for="error in errorMostrarMsjCategoria" :key="error" v-text="error"></div>
                            </div>       
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                    <button type="button" v-if="tipoAccion == 1" class="btn btn-primary" @click="registrarCategoria()">Guardar</button>
                    <button type="button" v-if="tipoAccion == 2" class="btn btn-primary" @click="actualizarCategoria()">Actualizar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--Fin del modal-->
</div>
</template>

<script>
    export default {
        data (){
            return{
                descripcion: '',
                nombre: '',
                categoria_id : 0,
                arrayCategoria : [],
                modal : 0,
                tituloModal : '',
                tipoAccion : 0,
                errorCategoria : 0,
                errorMostrarMsjCategoria : [],
            }
        },
        methods : {
            mytable(){
                $(function(){
                    $('#categorias-table').DataTable();
                });
            },
            listarCategoria(){
                let me = this;
                axios.get('/categoria2').then(function(response){
                    me.arrayCategoria = response.data;
                    me.mytable()
                })
                .catch(function(error){
                    console.log(error);
                });

            },
            registrarCategoria(){
                if(this.validarCategoria()){
                    return;
                }
                let me = this;
                axios.post('/categoria/registrar', {
                    'nombre' : this.nombre,
                    'descripcion' : this.descripcion
                }).then(function(response){
                    me.cerrarModal();
                    me.listarCategoria();
                    //$('#categorias-table').ajax.reload();
                    //categorias_table.ajax.reload();

                }).catch(function(error){
                    console.log(error);
                });
            },
            actualizarCategoria(){
                if(this.validarCategoria()){
                    return;
                }
                let me = this;
                axios.put('/categoria/actualizar', {
                    'nombre' : this.nombre,
                    'descripcion' : this.descripcion,
                    'id' : this.categoria_id
                }).then(function(response){
                    me.cerrarModal();
                    me.listarCategoria();  
                }).catch(function(error){
                    console.log(error);
                });
            },
            desactivarCategoria(id){
                Swal.fire({
                title: 'Esta seguro de desactivar esta categoria?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Aceptar'
                }).then((result) => {
                    if (result.value) {
                        let me = this;
                        axios.put('/categoria/desactivar', {
                            'id' : id
                        }).then(function(response){
                            me.listarCategoria(); 
                            Swal.fire(
                            'Desactivado!',
                            'El registro ha sido desactivado con exito.',
                            'success'
                            ) 
                        }).catch(function(error){
                            console.log(error);
                        });     
                    }
                    else{
                        Swal.fire(
                        'Cancelado!',
                        'La solicitud se ha cancelado',
                        'error'
                        ) 
                    }
                })
            },
            activarCategoria(id){
                Swal.fire({
                title: 'Esta seguro de activar esta categoria?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Aceptar'
                }).then((result) => {
                    if (result.value) {
                        let me = this;
                        axios.put('/categoria/activar', {
                            'id' : id
                        }).then(function(response){
                            me.listarCategoria(); 
                            Swal.fire(
                            'Activado!',
                            'El registro ha sido activado con exito.',
                            'success'
                            ) 
                        }).catch(function(error){
                            console.log(error);
                        });     
                    }
                    else{
                        Swal.fire(
                        'Cancelado!',
                        'La solicitud se ha cancelado',
                        'error'
                        ) 
                    }
                })
            },
            validarCategoria(){
                this.errorCategoria = 0;
                this.errorMostrarMsjCategoria = [];
                if(!this.nombre) this.errorMostrarMsjCategoria.push("El nombre de la categoria no puede estar vacio.");
                if(this.errorMostrarMsjCategoria.length) this.errorCategoria = 1;
                return this.errorCategoria;
            },
            abrirModal(modelo, accion, data = []){
                switch(modelo){
                    case "categoria" :
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.modal = 1;
                                this.tituloModal = 'Registrar Categoria';
                                this.nombre = '';
                                this.descripcion = '';
                                this.tipoAccion = 1;
                                break;
                            }
                            case 'actualizar':
                            {
                                this.modal = 1;
                                this.tituloModal = 'Actualizar categoria';
                                this.tipoAccion = 2;
                                this.categoria_id = data['id'];
                                this.nombre = data['nombre'];
                                this.descripcion = data['descripcion'];
                                break;
                            }
                        }
                    }
                }
            },
            cerrarModal(){
                this.modal = 0;
                this.tituloModal = '';
                this.nombre = '';
                this.descripcion = '';
            }
        },
        mounted() {
            /*$('#categorias-table').DataTable({
                "responsive": true,
                "processing": true,
                "info": true,
                "showNEntries": true,
                "dom": 'Bfrtip',

                lengthMenu: [
                    [ 10, 25, 50, -1 ],
                    [ '10 filas', '25 filas', '50 filas', 'Mostrar todo' ]
                ],

                "buttons": [
                'pageLength',
                'excelHtml5',
                'csvHtml5'
                ],

                "paging": true,
                "language": {
                    "sdecimal":        ".",
                    "sthousands":      ",",
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                },
                "order": [0, 'desc']

            });*/

            this.listarCategoria();
        }

        
    }
</script>

<style>
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
